<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>reCAPTCHA v3</title>
  </head>
  <body>
    <% const url = `https://www.google.com/recaptcha/api.js?render=${SITEKEY}` %>
    <script src=<%= url %>></script>
    <script src="../static/client.js"></script>
    <button onclick="submit('<%= SITEKEY %>')">さぶみっと！</button>
  </body>
</html>
